{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "never"
        ],
        "arrow-parens": 2,
        "arrow-spacing": 2,
        "constructor-super": 2,
        "no-console": 0,
        "no-new-object": 2,
        "no-loop-func": 2,
        "no-var": 2,
        "no-dupe-class-members ": 2,
        "dot-notation": 2,
        "func-names": 2,
        "prefer-template": 2,
        "accessor-pairs": [2, {"getWithoutSet": true}],
        "react/jsx-uses-react": 1
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}
