{
  "rules": {
    "block-closing-brace-newline-before": [2, "always"],
    "block-opening-brace-space-before": [2, "always"],
    "color-hex-case": [2, "lower"],
    "color-hex-length": [2, "short"],
    "color-no-invalid-hex": 2,
    "declaration-colon-space-after": [2, "always"],
    "declaration-colon-space-before": [2, "never"],
    "declaration-no-important": 2,
    "function-comma-space-before": [2, "never"],
    "function-comma-space-after": [2, "never"],
    "indentation": [2, 2],
    "number-leading-zero": [2, "never"],
    "number-zero-length-no-unit": 2,
    "value-list-comma-space-after": [2, "always"]
  }
}
