$main_color: #46b980;

@define-placeholder btn {
  border-radius: 6px;
  height: 40px;
  width: 100px;
}

@define-placeholder txtarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4em;
  width: 100%;
}

* {
  font: 400 1em/1.4 "Open Sans", sans-serif;
  font-weight: 300;
}

a {
  border-bottom: 1px dashed rgba(70, 185, 128, 0.5);
  color: $main_color;

  &:focus,
  &:hover {
    border-bottom: 1px solid $main_color;
  }

  &:active,
  &:hover {
    outline: 0 none;
  }

}
