$main_color: #46b980;

.header-nav {
  background: $main_color;
  height: 3em;
}

.main-nav {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;

  li {
    margin-bottom: 0.2em;
    width: 100px;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }

    }

  }

}
