@define-extend profile-title {
  margin-top: 0.5em;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.name {

  @extend profile-title;
  font-size: 1.2em;
}

.screen_name {

  @extend profile-title;
  font-size: 0.8em;
}

.profile-icon {
  border-radius: 50%;
  height: 70px;
  margin: 0 auto;
  width: 70px;

}

.profile-status {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0.7em;
  padding: 0 1em 0;
}
